$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#bs-example-navbar-collapse-1 {
    margin-right: 260px;
}

header {
  background-image: url('../prismic.jpg');
  background-repeat: no-repeat;
   background-position:center;
   width: 1140px;

}

body {
  background-color: #E0E0E0 ;
}


#item {
    text-align: center;
}

.print-name1 {
  font-size: 20px;
  width: 40%;
}

.print-price1 {
  font-size: 20px;
  width: 40%;
}

#hero {
    width: 50%;
}

#first-page {
  height: 500px;
  margin-top: 40px;
}

@media (max-width: 966px) {
  #prints, #hero {
    width: 100%;
  }
}

#change-password-modal-link, #sign-out-modal-link, #cart-modal-link, #orders-modal-link {
   display: block;
}

// <img src="http://i.imgur.com/XLHdUex.png" width="1140px" height="239px" alt="" />


// .background {
//   background-color: #928F82;
// }
//
// .sign-out-btn {
//   text-align: center;
// }
//
//
//
// .site-title {
//   font-family: 'Creepster', cursive;
//   text-align: center;
// }
//
// //site-title color
// .jumbotron h1 {
//   color: #830303;
//   font-size: 115px;
//
// }
// //title description
// .jumbotron p {
//   font-size: 25px;
// }
//
// .title-description {
//   font-family: 'Baloo Paaji', cursive;
//   text-align: center;
//   color: #830303;
//   font-size: 45px;
// }
// // HEADER END
//
// // PRODUCTS FOR SALE
// #prints {
//   padding-right: 95px;
//   padding-left: 95px;
// }
//
// .print-images {
//   border: 3px solid #837046;
// }
//
// .print-name {
//   font-size: 35px;
//   text-align: center;
//   font-family: 'Creepster', cursive;
//   color: #830303;
// }
//
// .print-price {
//   text-align: center;
//   font-size: 20px;
// }
//
// .single-print {
//   text-align: center;
// }
// // PRODUCTS FOR SALE END
//
//
// .modal-body {
//   background-color:  #928F82;
//   color: white;
// }
//
// .modal-header {
//   background-color: #010001;
// }
//
// .modal-title {
//   text-align: center;
//   color: #fff;
// }
//
// .btn-warning {
//     color: #fff;
//     background-color: #830303;
//     border-color: #830303;
// }
//
// .modal-content {
//     border-radius: 10px;
//     border: 5px solid #837046;
// }
//
// .past-order-form {
//   text-align: center;
// }
//
// span {
//   color: white;
// }
//
// legend {
//   text-align: center;
//   color: #fff;
// }
//
// input, button, select, textarea {
//     font-family: inherit;
//     font-size: inherit;
//     line-height: inherit;
//     color: black;
// }
//
//
// #add-to-cart {
//     margin-left: 53%;
// }
//
//
.order-table {
 width: 100%;
 border-collapse: collapse;
 text-align: center;
}

td, th {

 padding: 6px;
 border: 1px solid #ccc;
 text-align: center;
}

tr:nth-of-type(odd) {
  background: #F5F6CE;
}

p {
    margin: 0 0 10px;
    font-size: 15px;
    line-height: 25px;
}

//
// #previous-orders {
//   max-height: 200px;
//   overflow: auto;
// }
//
// img {
//   vertical-align: middle;
//   border-radius: 10px;
// }
//
// label {
//   display: inline-block;
//   max-width: 100%;
//   margin-bottom: 5px;
//   font-weight: bold;
//   color: white;
// }
//
// #all-prints {
//   margin-left: 30%
// }
//
// .print-name1 {
//   font-size: 20px;
//
//   font-family: 'Creepster', cursive;
//   color: #830303;
// }
//
// .print-price1 {
//   font-size: 20px;
// }
//
// hr {
//   width: 100%;
// }
//
// hr {
//   width: 100%;
//   margin-left: -20%;
// }
//
// // PRODUCTS FOR SALE END
